.body{
max-width: 100vw;
max-height: 100vh;
}

.UIWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    max-width: 100vw;
    max-height: 100vh;
    z-index: -1;
}


.uiContainer {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    max-width: 30vw;
    margin-top: 7em;
    margin-right: 5em;
    margin-left: 5em;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: none;
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    text-decoration: none;
}

.nav-buttons{
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border: none;
    transition: background-color .5s;
    border-radius: 24px;
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
}
.nav-buttons:hover{
    background-color: #ededed;
}

#textTop {
    display: flex;
    margin-bottom: -.35em;
    font-size: 4em;
    font-weight: 800;
}

#textBottom {
    display: flex;
    font-size: 2em;
    font-weight: 400;
}

.Buttons {

}

.Buttons2 {
    margin-top: 25px;
}

.btn-reg {
    background-color: #e92027;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins';
    font-size: 14px;
    margin-top: 1em;
    transition-duration: 0.4s;
    width: fit-content;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.btn-reg:hover {
    background-color: #e92027;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins';
    font-size: 14px;
    margin-top: 1em;
    width: fit-content;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.loader {
    background-color: white;
    position: absolute;
    padding: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.loadingbar {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #e92027; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#myCanvas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vh;
    margin: auto;
    outline: none;
    border: none;
}

/* this is the old options-bar
/* .options-bar{
    opacity: 0;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
} */

.options-bar-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 90vh;
  left: -425px;
  background-color: rgba(237, 237, 237, .85);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
  overflow-y: auto;
}

/*Old option
/* .option{
    display: flex;
    opacity: 85%;
    flex-direction: column;
    justify-content: center;
    width: 25em;
    max-width: 35em;
    background-color: #ededed;
    border-radius: 25px;
    padding: 5px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
} */
.options-group{
  display: flex;
  flex-direction: column;
}

.option{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25em;
  max-width: 35em;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  z-index: 3;
  transition-duration: .4s;
}

.option:hover{
  background-color: #e3e3e3;
}
#hatch-styles-section{
  display: none;
}
#gullwing-section{
  display: none;
}

.config-options-bar{
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 90vh;
  right: -425px;
  background-color: rgba(237, 237, 237, .85);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}

.options{
  z-index: 2;
}

.back-btn-container{
  display: flex;
  flex-direction: column;
  max-height: 75px;
  width: inherit;
  margin: auto;
  transition-duration: .4s;
  background-color: #e9e9e9e9;
}

.back-btn-container:hover{
  filter: invert(.25) brightness(50%) hue-rotate(25deg);
  -webkit-filter: invert(.25) brightness(50%) hue-rotate(25deg);
}

.config-title{
  display: flex;
  font-family: "oswald";
  font-size: 32px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.config-back-btn-container{
  display: flex;
  flex-direction: column;
  max-height: 75px;
  width: inherit;
  transition-duration: .4s;
  background-color: #e9e9e9e9;
}

.config-back-btn-container:hover{
  filter: invert(.25) brightness(50%) hue-rotate(25deg);
  -webkit-filter: invert(.25) brightness(50%) hue-rotate(25deg);
}

#config-back-btn{
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

#back-btn{
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#back-btn:hover{
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  filter: invert(.25) brightness(8%) hue-rotate(25deg);
  -webkit-filter: invert(.25) brightness(8%) hue-rotate(25deg);
}

/* .options-background{
  position: absolute;
  left: auto;
  width: 25vw;
  height: 100vh;
  left: auto;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
} */

  .header{
    display: flex;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'Oswald';
    font-size: 24px;
    margin-right: 100px;
    margin-left: 25px;
    border-bottom: 2px solid black;
    color: #e92027;
    text-transform: uppercase;
  }
  .description{
    display: flex;
    margin-left: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
    font-family: 'poppins';
    font-size: 12px;
    margin-right: 100px;
  }
  .checkbox{
    display: flex;
    margin: auto;
    padding-bottom: 15px;
  }
  .checkbox-text{
    transition-duration: .25s;
    transition-timing-function: ease-out;
    font-family: 'oswald';
    font-size: 12px;
    text-transform: Uppercase;
    border: 2px solid #e92027;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
  }
  .checkbox-text:hover{
    transition-duration: .25s;
    transition-timing-function: ease-out;
    border: 2px solid #ffffff;
    background-color: #e92027;
    color: #ffffff;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .checkbox-text:focus{
    transition-duration: .25s;
    transition-timing-function: ease-out;
    border: 2px solid #ffffff;
    background-color: #e92027;
    color: #ffffff;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .radio-section{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-bottom: 25px;
    align-items: center;
  }

  .radio{
    width: 25px;
    height: 25px;
    display: flex;
    margin-right: 10px;
  }

  .radio:checked{
    width: 25px;
    height: 25px;
    display: flex;
    background: #e92027;
  }

  .radio-text{
    font-family: "poppins";
  }

  #shopping-cart{
    display: flex;
    width: 85px;
    height: auto;
    justify-content: center;
  }